body{
    margin: 0;
    font-family: Spartan,'Courier New', Courier, monospace;
    overflow: auto;
}
.wrapper{
    position: fixed;
    width:100%;
    height: 100%;
    background: #f7edff91;
    overflow: auto;
}
.nav {
    background-color:#8E234D !important;
   
   }
   
   .nav-wrapper {
      background-color:#8E234D !important;
      font-size: 14px;
      font-weight: bold;
    }
   
          .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 40%;
          }
          
          .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          }
    
          .container {
            padding: 2px 16px;
  }

nav{
    /* text-align: right; */
    flex: 50%;
}
nav ul li{
    display: inline;
}

nav ul li a{
   text-decoration: none;
   color:#8E234D;
}
nav ul li a:hover{
    color:#f5a207;
    border-bottom: 1px solid #8E234D;
}

.brand-logo{
  right: 20px;
}

/* .container{
    display: inline-block;
} */
.about-bump{
    display: inline;
    width: 30%;

}
.features{
    width: 70%;
    display: inline;
}

.row{
display: flex;
width: 100%;
display: -webkit-flex;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
height: 45%;
}
.column{
flex: 1;
margin: 10px;
background: #8E234D;
border-radius: 20px;
text-align: center;
height: 100%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
}
.column h1{
font-style: normal;
font-weight: normal;
font-size: 30px;
color: #FFFFFF;
text-align: center;
}

.column img{
width:100%;
height:250px;
/* border-radius: 10px; */
}
.page-link{
 display: inline;
 width: 80%;
 text-align: center;

}

.page-link a{
    color:#fff;
    text-decoration: none;
    text-align: left;
    position: relative;
    width:50%;
   
}
.page-link a i{
    position: relative;
    top: 5px;
    text-decoration: none;
    text-align: center;
    /* padding: 10px; */
    display: inline;
    /* position: relative; */
    /* width:50%; */
}
.page-link a:hover{
    color:#f5a207;
    border-bottom: 1px solid #8E234D;
}
.footer{
    bottom: 30px;
    text-align: center;
}
.icon{
    width: 40px;
}
@media(max-width:900px){
    .row{
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        }
        .brand-logo{
            right:5%;
            font-size:4px;
            display: none !important;
          }
          .page-row{
            display: flex;
            width: 80%;
            position: relative;
            margin: 0 auto;
            flex-direction: column;
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 100%;
            height: auto;
          }
          
          .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          }
 } 
 /* pregnancy page */
.page-row{
    display: flex;
    width: 80%;
    position: relative;
    margin: 0 auto;
    overflow: auto;
}
.page-column{
    flex: 50%;
    margin-left: 15px;
}
.page-column img{
    height: 450px;
    width: 100%;
}
.page-column p{
   text-align: justify;
   line-height: 1.5;

}
.page-column ul li{
    text-align: justify;
   line-height: 2;
   list-style: none;
}
.page-column ul li a{
    text-decoration: none;
}
.page-column ul li a:hover{
    color:#f5a207;
    border-bottom: 1px solid #8E234D;
}
.page-column ul li a i{
   padding-right: 15px;
   /* color: #8E234D; */
}
